<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="providerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital ID </th>
        <td mat-cell *matCellDef="let data"> {{data.providerId}} </td>
    </ng-container>

    <ng-container matColumnDef="providerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
        <td mat-cell *matCellDef="let data"> {{data.providerName}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Your Location </th>
      <td mat-cell *matCellDef="let data"> {{data.from}} </td>
  </ng-container>

    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital Location </th>
        <td mat-cell *matCellDef="let data"> {{data.to}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Driving Distance (Miles) </th>
        <td mat-cell *matCellDef="let data"> {{data.distance}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Travel Time (Hours) </th>
        <td mat-cell *matCellDef="let data"> {{data.duration}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setSearched(row)"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
