<div class="main">
  <app-add-condition *ngIf="passwordCorrect"></app-add-condition>
  
</div>
<mat-card class="adminloginform">
  
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="loginform">
      <table cellspacing="0">
        
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput [(ngModel)]="username" name="username" aria-label="username" required>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [(ngModel)]="password" type="password" name="password" aria-label="password" required>
            </mat-form-field>
          </td>
        </tr>

      </table>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>

</mat-card>
