<mat-card class="loginform-card">

    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="loginform-form">
            <table class="full-width-field" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width-field">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" aria-label="Username" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="full-width-field">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" aria-label="Password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>

</mat-card>