<div class="search-border">
    <form (submit)="searchPost()">
        <mat-form-field>
            <input type="text" class="search-input" placeholder="Enter your condition" aria-label="Number" matInput
                [formControl]="myControl" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- FILTERS
        //distance
        //rating
        //price-->
        <button mat-button class="blue-button">Enter</button>
    </form>

    <mat-error *ngIf="error == 'exist'" [@slideIn]>
        Please select an option from the list provided
    </mat-error>
    <mat-error *ngIf="error == 'error'" [@slideIn]>
        Please enter your condition or DRG Code
    </mat-error>

    <!--<h3>Send Get Request</h3>
    <button mat-button (click)="searchGet()">Enter</button>-->
</div>
<!--<div>
  <table>
    <thead>
      <tr>
        <td>Key</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let d of data;">
        <td>{{d.drgCode}}</td>
        <td>{{d.drgDefinition}}</td>
      </tr>
    </tbody>
  </table>
</div>-->
