<div class="search-border">
    <form (submit)="searchPost()">
        <div class="search">
            <div class="main-search">
                <mat-form-field>
                    <input type="text" class="search-input" placeholder="Enter your condition" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="error == 'exist'">
                        Please select an option from the list provided
                    </mat-error>
                    <mat-error *ngIf="error == 'error'"> Please enter your condition or DRG Code
                    </mat-error>
                </mat-form-field>


            </div>
            <div class="search-options">
                <mat-form-field>
                    <mat-label>Distance</mat-label>
                    <mat-select [(value)]="distance">
                        <mat-option>Any</mat-option>
                        <mat-option value="10mi">≤10mi</mat-option>
                        <mat-option value="50mi">≤50mi</mat-option>
                        <mat-option value="100mi">≤100mi</mat-option>
                        <mat-option value="500mi">≤500mi</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <mat-select [(value)]="price">
                        <mat-option>Any</mat-option>
                        <mat-option value="smaller">$0 - $10,000</mat-option>
                        <mat-option value="small">$10,000 - $100,000</mat-option>
                        <mat-option value="medium">$100,000 - $250,000</mat-option>
                        <mat-option value="large">$250,000 - $500,000</mat-option>
                        <mat-option value="largest">$500,000+</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rating</mat-label>
                    <mat-select [(value)]="rating">
                        <mat-option>Any</mat-option>
                        <mat-option value="5star">⭐5</mat-option>
                        <mat-option value="4star">⭐4</mat-option>
                        <mat-option value="3star">⭐3</mat-option>
                        <mat-option value="2star">⭐2</mat-option>
                        <mat-option value="1star">⭐1</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-slide-toggle color="primary"><i class="material-icons">my_location</i></mat-slide-toggle>
            </div>
        </div>
        <div class="search-button">
            <button mat-raised-button class="blue-button">Enter</button>
        </div>
        <!-- FILTERS
        //distance
        //rating
        //price-->

    </form>



    <!--<h3>Send Get Request</h3>
    <button mat-button (click)="searchGet()">Enter</button>-->
</div>
<ngx-loading [show]="loading"></ngx-loading>

<!-- -->
<!--<div>
  <table>
    <thead>
      <tr>
        <td>Key</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let d of data;">
        <td>{{d.drgCode}}</td>
        <td>{{d.drgDefinition}}</td>
      </tr>
    </tbody>
  </table>
</div>-->