<button mat-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">Add new condition</button>
<mat-menu #menu="matMenu" class="menu-form-wrapper" [hasBackdrop]="false">

  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">

    <form class="menu-form">

      <h3>Edit Customer</h3>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Facebook ID</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>UID</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <span>
        <button mat-raised-button (click)="trigger.closeMenu()">Cancel</button>
        &nbsp;
        <button mat-raised-button>Save Changes</button>
      </span>

    </form>

  </div>

</mat-menu>