<span (mouseenter)="enableShow(true)" (mouseleave)="enableShow(false)">
<img id="question" class="icon" src="../../assets/question.png">
<div class="help-dropdown" *ngIf="showHelp">
    <div class="speech-bubble">
        <!--
            About the Site
            DrG Code Definition
            MCC/CC
        -->
        <h3>About</h3><p>This site provides an easy way to compare prices, ratings, and distances between many hospitals across america. Simply enter your DRG code to return results for supporting hospitals and their relative pricing and distances, based on your location.</p>
        <h3>DRG Code</h3><p>Explain dRG Codes here <br><i>Unsure of your DRG code? Visit <a target="_blank" href="https://www.cms.gov/icd10m/version37-fullcode-cms/fullcode_cms/P0002.html">cms.gov</a></i></p>
        <h3>MCC/CC</h3><p>
            <span style="margin-left: 10px;">MCC - Means this thing</span>
            <br>
            <span style="margin-left: 10px;">CC - Means this thing</span>
        </p>
    </div>
</div>
</span>