<img id="question" class="icon" (click)="enableShow()" src="../../assets/question.png">
<div class="help-dropdown" *ngIf="showHelp">
    <div class="speech-bubble">
        <!--
            About the Site
            DrG Code Definition
            MCC/CC
        -->
        <h3>About</h3><p>This site is about blah blah blah blah words explaining the site</p>
        <h3>DRG Code</h3><p>Explain dRG Codes here <br><i>Unsure of your DRG code? Visit <a href="https://www.cms.gov/icd10m/version37-fullcode-cms/fullcode_cms/P0002.html">cms.gov</a></i></p>
        <h3>MCC/CC</h3><p>Explain what MCC and CC mean</p>
    </div>
</div>
